block footer
  #footer-wrapper
    #tasklog-toggle(data-bind='click: $root.toggleTaskLogPane')
      div.pane-title
        span.menu-lines
        | Tasks
      div.pane-notifications
        div.notify.ok_state= "5"
        div.notify.error_state= "10"
        div.notify.disabled_state= "2"
        div.notify.processing_state= "4"
        div.notify.warning_state= "1"
    #footer.container-fluid
      #feedback-link
        a(href='mailto:RPCFeedback@rackspace.com')= 'Send Feedback'
          <span class="external">&nbsp;</span>
      #copyright
        &copy; Rackspace, US
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      a(href="#")= 'Terms &amp; Privacy'
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      a(href="#")= 'Release Notes'