block templates
  script(type='text/html', id='indexTemplate')
    #root.container-fluid(data-bind='template: getIndexTemplate')

    script(type='text/html', id='zeroStateTemplate')
      .well.well-small.pull-left.roush-container
        header.container-header
          .pull-left.btn-group
            button.btn.btn-mini.dropdown-toggle.disabled(data-bind="click: $root.getActions", data-toggle='dropdown')
              i.icon-cog
            ul.dropdown-menu
              li.nav-header Manage
              li.divider
              // ko foreach: actions
              li: a(tabindex='-1', href='#', data-bind='click: $root.doAction.bind($data, $parent), text: name + "..."')
              // /ko
          .pull-left.container-name: span(data-bind='text: name')

        .container-body
          div.empty_overlay_widget
            div.create_one_now_arrow
            div.create_one_now_section
              div.create_one_message
                div
                  p.create_one_message_top= "You don't have Roush Agent nodes yet."
                div
                  p.create_one_message_middle= "Install some now."
                div
                  p.create_one_message_description= "The Roush agent allows your nodes to show up in this control panel. Learn more about"
                    a.external(href="#") Roush Agent.

    script(type='text/html', id='indexItemTemplate')
      .well.well-small.pull-left.roush-container
        header.container-header
          .pull-left.btn-group
            button.btn.btn-mini.dropdown-toggle(data-bind="click: $root.getActions", data-toggle='dropdown')
              i.icon-cog
            ul.dropdown-menu
              li.nav-header Manage
              li.divider
              // ko foreach: actions
              li: a(tabindex='-1', href='#', data-bind='click: $root.doAction.bind($data, $parent), text: name + "..."')
              // /ko
          .pull-left.container-name: span(data-bind='text: name')

        .container-body
          .drop-target(data-bind='sortable: agents, attr: {"data-id": id}')
            .btn-group.node
              button.btn.btn-small.btn-node.statusDescription(disabled='disabled', data-bind='css: statusClass')
              button.btn.btn-small.btn-node.dropdown-toggle(data-bind='click: $root.getActions, attr: {disabled: dragDisabled}', data-toggle='dropdown')
                i.icon-cog
              ul.dropdown-menu
                li.nav-header Manage
                li.divider
                // ko foreach: actions
                li: a(tabindex='-1', href='#', data-bind='click: $root.doAction.bind($data, $parent), text: name + "..."')
                // /ko
              button.btn.btn-small.btn-node.node-name(data-bind='text: name, popper: $data, css: {dragDisable: dragDisabled}, attr: {"data-id": id}')
            .clear-right

          div(data-bind='template: {name: "indexItemTemplate", foreach: containers}')

    #indexInputModal.modal.hide.fade(data-backdrop='static', tabindex='-1', role='dialog', aria-labelledby='indexInputModal', aria-hidden='true')
      form#inputForm.form-horizontal.error-under-input
        .modal-header
          //button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3 Additional Input Required
        .modal-body
            div#multiStepForm.carousel.slide(data-interval="false")
              div.carousel-inner
                // ko foreach: getPlans
                div.item(data-bind='css: {active: !$index()%2}')
                  fieldset
                    .control-group
                      label.control-label(data-bind='text: key, attr: {for: key}')
                      .controls
                        input(type='text', data-toggle='tooltip', data-placement='right', data-bind='attr: {id: key, name: key, title: key + " is required", placeholder: value.default}, css: {required: value.required}')
                        span.tooltip-toggle(data-toggle='tooltip', data-bind='attr: {"title": value.friendly}')
                // /ko
        .modal-footer
          button.btn.btn-small.btn-secondary.back(data-slide="prev", href='#multiStepForm')= "< Back"
          button.btn.btn-small.btn-primary.next(data-slide="next", href='#multiStepForm')= "Next Step >"
          button.btn.btn-small.btn-primary.submit= "Submit"
          button.cancel.btn-link(type='reset', data-dismiss='modal') Cancel

    #indexNoConnectionModal.modal.hide.fade(data-keyboard='false', data-backdrop='static', role='dialog', aria-labelledby='indexNoConnectionModal', aria-hidden='true')
      .modal-body
        div.warning-section
          div#no-connection-img
          div.text-section
            h1.warning-header= "Disconnected"
            p.warning-text= "It looks like we've lost the connection to the OpenCenter server. To continue, please ensure your connection to the OpenCenter server is working properly."
            p.status-text= "We're trying to reconnect now..."

    #indexLoginModal.modal.hide.fade(data-keyboard='false', data-backdrop='static', role='dialog', aria-labelledby='indexLoginModal', aria-hidden='true')
      .modal-body
        div.login-container.row-fluid
          div#rackspace-logo-container
          div#login-form
            form#loginForm.error-icon-only
              span.welcome-message= "Welcome to the OpenCenter Control Panel!"
              .alert.alert-error.hide= "Invalid username and/or password"
              .control-group
                  label.control-label(for='username') Username
                  .controls
                    input(type='text', name='username', required='true')
              .control-group
                  label.control-label(for='password') Password
                  .controls
                    input(type='password', name='password', required='true')
              #login-status
                .form-actions
                  button.login-button(type='submit') Login
                  span.form-throb.hide
